{% extends "base.html" %}
{% block content %}

<div class="container">

<h2 class="fw-bold">{{ tender.title }}</h2>

<p class="text-muted">{{ tender.department }}</p>

<hr>

<div class="row">

<div class="col-md-8">

<h5>Description</h5>
<p>{{ tender.description }}</p>

<h5 class="mt-4">Location</h5>
<p>{{ tender.location }}</p>

<h5>Deadline</h5>
<p>{{ tender.deadline }}</p>

</div>

<div class="col-md-4">

<div class="card shadow p-3">

<h6>AI Analysis</h6>

<p>⚠ Risk Score: {{ tender.risk_score }}</p>

<p>📊 Difficulty: {{ tender.difficulty_score }}</p>

<p>🎯 Relevance: {{ tender.relevance_score }}</p>

<p>🔥 Urgency: {{ tender.urgency }}</p>

<hr>

{% if tender.link %}
<a href="{{ tender.pdf_link }}" target="_blank" class="btn btn-primary">
Download Tender PDF
</a>

<a href="{{ tender.link }}" target="_blank" class="btn btn-success">
Apply on Government Portal
</a>
{% endif %}

</div>

</div>

</div>

</div>

{% endblock %}